<!DOCTYPE html>
<html>

<head>
    <title>Title of the document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    body {
        background-image: url("assets/images/background.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<body>
    <a href="<%= rootPath() %>">
        <img src="<%= rootPath() %>assets/images/GOT.png" alt="" style="width: 75%;
        display: block;
        margin-left: auto;
        margin-right: auto;">
    </a>


    <p style="font-family:Courier New;">
        House Targaryen of King's Landing is a Great House of Westeros and the current Royal House of the Seven
        Kingdoms. House Targaryen conquered and unified the realm before it was deposed during Robert's Rebellion and
        House Baratheon replaced it as the new royal House. The two surviving Targaryens fled into exile to the Free
        Cities of Essos across the Narrow Sea. House Lannister replaced House Baratheon as the royal House following the
        destruction of the Great Sept of Baelor, but the realm was reconquered by Daenerys Targaryen, retaking the Iron
        Throne following the Battle of King's Landing.

        House Targaryen's sigil is a three-headed red dragon on a black background, and their house words are "Fire and
        Blood."
    </p>       
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>